.grid_8.prefix_2
  %h2
    %span Resend
    confirmation instructions

  = form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f|
    = devise_error_messages!

    %fieldset.inputs
      %ol
        %li
          = f.label(:email)
          = f.text_field(:email)

    %fieldset.buttons
      %ol
        %li
          = f.submit("Resend confirmation instructions")

  = render(:partial => "devise/shared/links")
