.grid_12
  %h2 Sign In

  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    %fieldset.inputs
      %ol
        %li
          = f.label(:email)
          = f.text_field(:email, :class => "large")
        %li
          = f.label(:password)
          = f.password_field(:password, :class => "large")

    %fieldset.buttons
      %ol
        %li= f.submit("Sign In", :class => "button")

  = render(:partial => "devise/shared/links")
