= form_for @asset, :html => {:multipart => true} do |f| 
  %p  
    %label Asset upload
    %p
      = f.label :name
      = f.text_field :name
    = f.file_field :file
    = f.hidden_field :file_cache
    %div{:class => "tagbox tags clearfix"}
      = @asset.tags.collect{ |t| t.name}.join(',')
    = f.submit
:javascript
  $(function(){ $('.tagbox.tags').tagbox({seperator: /,/, name: 'tags[]'});})
