= semantic_form_for(@asset, :html => { :multipart => true }) do |f|
  = f.semantic_errors
  = f.inputs(:name, :description)
  = f.input(:file, :as => :file)
  .tagbox.tags.group
    = @asset.tags.collect{ |t| t.name }.join(",")
  = f.buttons

- content_for(:javascript) do
  :javascript
    $(function() {
      $(".tagbox.tags").tagbox({
        seperator: /,/,
        name: "asset[tag_list][]"
      });
    });
