- unless @assets.empty?
  .grid_6
    %h2= "Results for '#{params[:q]}'"
  .grid_6.text-right
    %p= "#{@assets.total_entries} Total Results"
  .clear

  .group= render(@assets)
  .pagination= will_paginate(@assets)
- else
  .grid_12
    %h2= "Results for '#{params[:q]}'"
    %p= "No assets match '#{params[:q]}'"
